.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 16px;
  margin-bottom: 8px;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
}
